{% extends 'base.html' %}

{% block content %}
  <h2 class="uk-heading-line uk-text-bold"><span>Todo</span></h2>
  <table class="uk-table uk-table-divider uk-table-hover uk-table-middle">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Completed</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todos %}
        <tr>
          <td>{{ todo.id }}</td>
          <td>{{ todo.title }}</td>
          <td>{{ todo.is_completed }}</td>
          <td>{{ todo.created_at }}</td>
          <td>
            <a href="/todo/{{ todo.id }}" class="uk-link-reset">Edit</a>
            <a href="{% url 'todo_delete' todo.pk %}" class="uk-link-reset">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="/todo/create"><button class="uk-button uk-button-primary">Add</button></a>
{% endblock %}
